@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Syne', sans-serif;
    margin: 0;
    padding: 0;
}

/*         N a v b a r           */

/* **** Barre Navbar ***** */ 
 #navigation{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 80px;
    width: 100%;
 }

 /*  Position Menu et Btn  */

.container-menu-btn{
    width: 30%;
    display: flex;
    
}

.menu-header-planty-container{
    width: 100%;
    margin-right: 20px;
}

/*    ** M  e n u  ** */

.menu{
    
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center ;
    justify-content: space-between;
}

.menu-item a{
    font-size: 15px;
    color: #000;
}

.menu-item:hover{
    color: #000;
    font-weight: 700;
}

/*.menu {
    position: fixed;
    top: 0px;
}

.admin-bar .menu {
	top: 32px; /* on prend en compte le décalage */

/* Bouton Navbar */

.button.button-primary{
    background-color: #DC9F96 !important;
}

.button.button-primary:hover{
    background-color: #c02e44 !important;
}

 .button.button.button-primary{
    padding: 28px 40px;
    margin: 0 ;
    border-radius: 0;
}

/*****        P A G E D'A C C U E I L       *******/
/***** Header ******/
header{
    position: relative;
    
}

header::after{
    content: "";
    width: 100vw;
    height: 40px;
    background-color:#E3D9D0;
    border-radius: 50%;
}

/****  Titre H1 *****/

.title-h1{
    width: 70%;
}

/***   Image Header *****/

.box-img{
    position: relative;
}

.center-img{
    z-index: 3;
}

.left-img{
    position: absolute;
    top: 20%;
    left: -44%;
}

.right-img{
    position: absolute;
    top: 20%;
    right: -44%;
}

/******* SECTION Texte Description  ***** ******/

.txt-description{
    font-size: 20px;
}


/*****         SECTION GALERIE      *****/

.container-galerie-items{
    border-radius: 25% 25% 25% 25% / 0% 0% 3% 2%;
}

/*****Galerie image   */

.img-galerie{
    width: 392px;
    margin-bottom: 30px;
}

/****Texte galerie  */

.txt-galerie{
    font-size: 48px !important;
}

/*  Btn Galerie    */

.btn-galerie{
    padding: 50px !important;
}

.is-style-primary .wp-block-button__link:hover{ /*  2eme classe btn-galerie   */
    background-color: #c02e44 !important;
}

/**********        Section Ce qu'ils pensent     **********/

.rangee-post-footer{
    width: 85%;
}

.item-rangee-post-footer{
    width: 33%;
}

.box-txt-post-footer{
    max-width: 70%;
}



/*       P A G E : N O U S R E N C O N T R E R         ******/

/**** Section txt Header *******/

.title-page-nr{
    font-size: 38px;
    padding-bottom: 20px;
}

.txt-page-nr{
    width: 50%;
    color: #000;
    font-size: 20px;
}

.box-item-nr{
    height: 400px;
    position: relative;
    border-radius: 25% 25% 44% 48% / 0% 0% 15% 16%;
}
.icone-page-nr{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 150px;
    height: 150px;
}

/***** Section l'équipe ******/

.Colonne-team{
    width: 85%;
    position: relative;
}

/**** Image section l'équipe ****/

.img-team{
    position: absolute;
    right: 0%;
    top: 37%;
}


/* S e c t i o n :  FORMULAIRE-PAGE-NR **/
#form-contact{
    z-index: 2;
}

#form-contact input[type=submit]{
    background-color: #DC9F96 !important;
    padding: 15px 50px;
    margin-left: 50%;
    transform: translateX(-50%); /* Pour eviter que le champ soit trop eloigné*/
}

#form-contact label{
    color: #000;
    font-weight: 500;
    font-size: 20px;
}

form input:read-write{
    margin-top: 10px;
}

.img-form{
    z-index: 0;
    position: absolute;
    bottom: 6%;
    left: 27%;
}

/******                  PAGE COMMANDE                             *******/

/**** Title page ***/

/*.title-commander{
    color: #fff;
    font-size: 38px;
    font-weight: 800;
    text-transform: capitalize !important;
    text-align: center;
    padding: 70px 0;
}*/

.sous-title-commande{
    color: #fff;
    font-size: 30px;
}

/* S e c t i o n :       COMMANDE   */


/*  TABLEAU NON FONCTIONEL */

table{
   /* border-collapse: collapse !important;*/
    width: 150px !important;
   
}

tbody{
    border-radius: 30px;
}

td{
   border: none !important;
   padding: 3px !important;
   vertical-align: middle;
}


.premiere-colonne{
    width: 60%;
    background-color: #fff !important;
}

.deuxieme-colonne{
    color: #fff !important ;
    background-color: #DC9F96 !important;
}

.border-white{
    border-top: #fff solid 1px !important;
}

.btn-table{
    padding: 16px 40px;
    background-color: #E0B9B4 ;
    border-radius: 6px;
    font-weight: 400;


}
/* BOUTON DIV TABLEAU */

.container-table-row{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;

}


/* S e c t i o n : FORMULAIRE  */

/*form{
    margin: auto;
    width: 100%;
}*/

.form-commander{
    align-items: center;
    gap: 30px ;
}

.container-form-flex{
    width: 100%;
    margin: auto;
    display: flex;
    margin: 0 0 0 50px;
}

.part-form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.right-form{
    display: flex;
    flex-direction: column;
}

.input-commande{
    width: 90%;
    margin-bottom: 15px;
    padding: 18px !important;
    border-radius: 5px !important ;
    border: none;

}

.label-commande{
    font-size: 20px;
    color: #fff;
}

/***** Separateur ***/

.separateur-verticale{
    border-left: 1px solid #fff;
    height: 400px;
    padding: 0 20px
}


/***** Bouton Envoyer ***/

.btn-envoyer{
    background-color: #E0B9B4 !important;
    padding: 16px 50px !important;
    font-weight: 500 !important;
}

.btn-envoyer:hover{
    background-color: #c02e44 !important;
}

.form-commander{
    display: flex;
    flex-direction: column;
    column-gap: 15px;
}

/*     F O O T E R    */

.footer-planty{
    background-color: #fff !important;
}

.p-footer{
    text-align: center;
}

/*       R E S P O N S I V E      */

@media screen and (max-width : 520px) {


 /*****   P A G E  A C C U E I L *****/

    .title-h1{
        width: 50%;
    }

    .box-img{
        width: 50%;
    }

    .left-img{
        width: 100%;
        top: 0;
    }

    .right-img{
        width: 100%;
        top: 0;
    }

    /* Galerie image */   
    .img-galerie{
        width: 320px;
    }

    .txt-galerie{
        font-size: 25px !important;
    }

    /* Section ce que vous pensez */

    .rangee-post-footer{
        flex-direction: column;
        width: 100%;
    }

    .item-rangee-post-footer{
        padding-bottom: 50px;
        width: 100%;
    }

/**** P A G E : N O U S  R E N C O N T R E R  *****/

    .icone-page-nr{
        height: 120px;
        width: 120px;
        top: 1%;
        left: 1%;
    }

    .title-page-nr{
        font-size: 25px;
    }
    
    .txt-page-nr{
        font-size: 16px;
    }

    /**** Section L'équipe ***/

    .img-team{
        width: 100px;
        top: 54%;
    }

    /****** Section Formulaire NR ****/

    .form-page-nr{
        width: 50%;
        height: 50%;
    }

    form input:read-write, form textarea{
        width: 100%;
    }

    #form-contact label{
        font-size: 15px ;
    }

    .img-form{
        width: 100px;
        height: 100px;
        bottom: 9%;
        left: 10%;
    }

}  