@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Syne', sans-serif;
    margin: 0;
    padding: 0;
}

/* **** BAR HEADER ***** */ 

.row.row--wapper{
    margin: 0;
}

.builder-item{
    margin: 0 !important;
    padding: 0;
}
/* Menu */

.nav-ul li:hover>.wrap>a {
    color: #000 !important;
}

.nav-ul li:hover{
    font-weight: 600;
}

/* Bouton */

.button.button-primary{
    background-color: #DC9F96 !important;
}

.header .builder-item [class*=button_base] .button{
    padding: 30px;
    margin: 0 0 0 10px;
}

/****  Header *****/

.title-h1{
    width: 50%;
}

/*** ******** Image ******* *****/

.box-img{
    position: relative;
}

.center-img{
    z-index: 3;
}

.left-img{
    position: absolute;
    top: 20%;
    left: -44%;
}

.right-img{
    position: absolute;
    top: 20%;
    right: -44%;
}

/******* ** Section Texte  ***** ******/

.txt-description{
    font-size: 20px;
}

/***** ****   Gelerie image ******/

.gallery-img{
    width: 70%;
}

/*****  Page Contact ******/

/**** Section txt *******/

.title-contact{
    font-size: 38px;
    padding-bottom: 20px;
}

.txt-contact{
    width: 50%;
    color: #000;
    font-size: 20px;
}

.box-item-contact{
    position: relative;
}
.img-contact{
    position: absolute;
}


/******* Formulaire *******/

#form-contact input[type=submit]{
    background-color: #DC9F96 !important;
    padding: 15px 50px;
    margin-left: 50%;
    transform: translateX(-50%); /* Pour eviter que le champ soit trop eloigné*/
}
