@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Syne', sans-serif;
    margin: 0;
    padding: 0;
}

/*****          PAGE D'ACCUEIL       *******/
/***** Header ******/
header{
    position: relative;
    
}

header::after{
    content: "";
    width: 100vw;
    height: 40px;
    background-color:#E3D9D0;
    border-radius: 50%;
}
/* **** Barre Navbar ***** */ 

.row.row--wapper{
    margin: 0;
}

.builder-item{
    margin: 0 !important;
    padding-right: 0 !important;
}
/* Menu Navbar */

.nav-ul li:hover>.wrap>a {
    color: #000 !important;
}

.nav-ul li:hover{
    font-weight: 600;
}

/* Bouton Navbar */
.component-wrap{
    margin: 0 !important;
}

.button.button-primary{
    background-color: #DC9F96 !important;
}

.button.button-primary:hover{
    background-color: #c02e44 !important;
}

.header .builder-item [class*=button_base] .button{
    padding: 25px 40px;
    margin: 0 0 0 50px;
    border-radius: 0;
}

/****  Titre H1 *****/

.title-h1{
    width: 70%;
}

/*** ******** Image Header ******* *****/

.box-img{
    position: relative;
}

.center-img{
    z-index: 3;
}

.left-img{
    position: absolute;
    top: 20%;
    left: -44%;
}

.right-img{
    position: absolute;
    top: 20%;
    right: -44%;
}

/******* SECTION Texte Description  ***** ******/

.txt-description{
    font-size: 20px;
}


/*****         SECTION GALERIE      *****/

.container-galerie-items{
    border-radius: 25% 25% 25% 25% / 0% 0% 3% 2%;
}

/*****Galerie image   */

.img-galerie{
    width: 393px;
    margin-bottom: 30px;
}

/****Texte galerie  */

.txt-galerie{
    font-size: 48px !important;
}

/****Btn Galerie image  */

.btn-galerie is-style-primary{
    padding: 20px;
}

.is-style-primary .wp-block-button__link:hover{
    background-color: #c02e44 !important;
}

/**********        Section Ce qu'ils pensent     **********/

.rangee-post-footer{
    width: 85%;
}

.item-rangee-post-footer{
    width: 33%;
}

.box-txt-post-footer{
    max-width: 70%;
}

/*****          PAGE CONTACT        ******/

/**** Section txt Header *******/

.title-contact{
    font-size: 38px;
    padding-bottom: 20px;
}

.txt-contact{
    width: 50%;
    color: #000;
    font-size: 20px;
}

.box-item-contact{
    position: relative;
}
.img-contact{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 150px;
    height: 150px;
}

/***** Section l'équipe ******/

.Colonne-team{
    width: 85%;
    position: relative;
}

/**** Image section l'équipe ****/

.img-team{
    position: absolute;
    right: 0%;
    top: 37%;
}


/******* Formulaire *******/
#form-contact{
    z-index: 2;
}

#form-contact input[type=submit]{
    background-color: #DC9F96 !important;
    padding: 15px 50px;
    margin-left: 50%;
    transform: translateX(-50%); /* Pour eviter que le champ soit trop eloigné*/
}

#form-contact label{
    color: #000;
    font-weight: 500;
    font-size: 20px;
}

form input:read-write{
    margin-top: 10px;
}

.img-form{
    z-index: 0;
    position: absolute;
    bottom: 6%;
    left: 27%;
}

/******                  PAGE COMMANDE                             *******/

.neve-main{
    background-color: #3B8E46;
}

.title-commandes{
    
    color: #fff;
    font-size: 38px;
    text-align: center;
}

/*** Section : COMMANDE   ***/


.direction-row{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.container-vignette{
    display: flex;
    justify-content: center;
    position: relative;
}

.txt-vignette{
    position: absolute;
    top: 39%;
    color: #fff;
    font-size: 25px;
    font-weight: 800;
    box-sizing: border-box;
}

.vignette-commande{
    width: 192px;
    height: 128px;
}